ul {
list-style-type: none;
}
#high {
  background-color: red;
}
#high h1 {
  color: white;
}
#high ul {
  color: white
}
#medium {
  background-color: orange;
}
#medium h1 {
  color: brown;
}
#medium ul {
  color: brown;
}
#low {
  background-color: gray;
}
#low h1 {
  color: black;
}
#low ul {
  color: black;
}
#done {
  background-color: black;
}
#done h1 {
  color: cyan;
}
#done ul {
  color: cyan;
}
