header {
background-color: blue;
height: 40px;
width: 100%;
text-align: center;
color: white;
font-family: "Times New Roman", Times, serif;
font-size: 25px;
top: 0px;
left: 0px;
position: fixed;
}
nav {
  background-color: white;
  height: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  margin-top: 40px;
  
}
nav li {
   display: inline;
   color: red;
}
nav ul {
   margin: 0px;
}
section#left {
   float: left;
   width: 50%;
   background-color: black;
   color: white;
   height: 1500px;
   overflow: auto;
   margin-top: 60px;
}
section#right {
   float: left;
   width: 50%;
   background-color: grey;
   color: white;
   height: 1500px;
   overflow: auto;
   margin-top: 60px;
}
footer {
   width: 100%;
   clear: both;
   background-color: red;
   color: white;
}
body {
  margin: 0px;
}
