header {
position: fixed; 
background-color: white;
height: 40px;
width: 100%;
text-align: center;
color: blue;
font-family: "Times New Roman", Times, serif;
margin:0px;
top: 0px;
left: 0px;
}
nav {
  position: static;
  background-color: blue;
  height: 20px;
  width: 100%;
  text-align: center;
  
}
nav li {
   display: inline;
}
nav ul {
   margin: 0px;
}
section#left {
  margin-top: 50px;
   float: left;
   width: 50%;
   background-color: black;
   color: white;
   height: 500px;
   overflow: auto;

}
section#right {
   margin-top: 50px;
   float: left;
   width: 50%;
   background-color: grey;
   color: white;
   height: 500px;
   overflow: auto;
}
footer {
   width: 100%;
   clear: both;
   background-color: red;
   color: white;
}
