#busy {
    text-align: center;
    margin-bottom: 50px;
    
  }
  #dobox {
    background-color: blue;
    position: relative;
    height: 250px;
    width: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    flow: auto;
    }
#enterbox {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: blue;
    height: 30px;
    width: 500px;
}
